server:
  port: 8080

spring:
  application:
    name: moeda-estudantil-backend
  
  datasource:
    url: jdbc:postgresql://shuttle.proxy.rlwy.net:47685/railway
    username: postgres
    password: QScWjiBhzhVfgzYbXYedVGuxCsTDTMUM
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  
  jackson:
    serialization:
      fail-on-empty-beans: false
    default-property-inclusion: non_null

logging:
  level:
    com.moedaestudantil: DEBUG